<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors Lizard Spock Blair Ketchup</title>
    <link href='./css/css.css' rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="overlay" style="display:none;">
      <h2 id='change'></h2>
  </div>
    <section id="lab">
      <div class="sectionheader"> 
        <h1>Rock Paper Scissors Lizard Spock Blair Ketchup</h1>
        <h2>By <a href="http://jamesjenkinsyates.com">James Jenkins-Yates</a> - <a href="http://jamesjenkinsyates.com/makers-academy-review/">Makers Academy Review</a> - <a href="http://jamesjenkinsyates.com/makers-academy-atlas">Makers Academy Online</a></h2>

      </div>  

      
        <article>

        </div>
          <div class="lab_item">
            <div class="hexagon hexagon2">
              <div class="hexagon-in1">
                                    
              </div>
            </div>
          </div>
        </div>
     <div class="lab_item" data-pick='rock'>
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(/img/rock/rock1.jpg);">                
                    </div>
                 </div>
             </div>
             </div>
     <div class="lab_item" data-pick='paper'>
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(/img/paper/paper1.jpg);">                
                    </div>
                 </div>
             </div>
             </div>
                  <div class="lab_item" >        
            <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                                    
                    </div>
                 </div>
             </div>
             </div>
              <div class="lab_item" data-pick='blair'>
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(./img/blair/blair1.jpg);">                
                    </div>
                 </div>
             </div>
             </div>
              <div class="lab_item" data-pick='ketchup'>
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(./img/ketchup/ketchup1.jpg);">                
                    </div>
                 </div>
             </div>
             </div>
              <div class="lab_item" data-pick='scissors'>
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(./img/scissors/scissors1.jpg);">                
                    </div>
                 </div>
             </div>
             </div>
              <div class="lab_item">
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                
                    </div>
                 </div>
             </div>
             </div>
              <div class="lab_item" data-pick='lizard'>
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(./img/lizard/lizard1.jpg);">                
                    </div>
                 </div>
             </div>
             </div>
              <div class="lab_item" data-pick='spock'>
              <div class="hexagon hexagon2">
                <div class="hexagon-in1">
                    <div class="hexagon-in2" style="background-image: url(./img/spock/spock1.jpg);">                
                    </div>
                 </div>
             </div>
             </div>
              <div class="lab_item">
              <div class="hexagon hexagon2">
             </div>
             </div>
              

             
              
      </article>
    </section>
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src= "lib/RockPaperScissors.js"></script>
    <script>
      var player1 = new Player('Player 1');
      var player2 = new Player('Player 2');

      var game = new Game(player1, player2)

      $('.lab_item').on('click', function() {
        player2.picksAI();
        player1.picks($(this).attr('data-pick'));
        if(game.winner() == null) {
          $( "#change" ).html("Draw!");
          $( '.overlay' ).show()
          setTimeout(function(){$( '.overlay' ).fadeOut()},300);
          $(".draw").removeClass('draw');
          $(".winner").removeClass('winner');
          $(".loser").removeClass('loser');
          $('[data-pick="' + player1.pick + '"]').addClass("draw");
          $.post('/write', { player1: player1.name, player2: player2.name, player1Pick: player1.pick, player2Pick: player2.pick, winner: 'draw' }, function(response) {
            console.log(response)
          })
          }

        else {
          $( "#change" ).html(game.humanWinsMessage());
          $( '.overlay' ).show()
          setTimeout(function(){$( '.overlay' ).fadeOut()},300);
          
          $(".draw").removeClass('draw');
          $(".winner").removeClass('winner');
          $(".loser").removeClass('loser');
          $('[data-pick="' + game.winner().pick + '"]').addClass("winner");
          $('[data-pick="' + game.loser().pick + '"]').addClass("loser");
          $.post('/write', { player1: player1.name, player2: player2.name, player1Pick: player1.pick, player2Pick: player2.pick, winner: game.winner().name }, function(response) {
            console.log(response)
          })
        };


      
      });

    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44439915-3', 'rpslsbk.herokuapp.com');
      ga('send', 'pageview');

    </script>

  </body>
</html>
